altgraph==0.17
et-xmlfile==1.0.1
macholib==1.14
numpy==1.20.1
openpyxl==3.0.7
pandas==1.2.3
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
PySimpleGUI==4.38.0
python-dateutil==2.8.1
pytz==2021.1
simpledbf==0.2.6
six==1.15.0
